.Statusas {
    margin-left: 88px;
    margin-right: 88px;
}

.Paskyra{
    margin-left: 55px;
    margin-right: 55px;
}

.Amzius {
    margin-left: 96px;
    margin-right: 96px;
}

.Vizitai{
    margin-left: 88px;
    margin-right: 88px;
}